* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #080808;
  color: #fff;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 120px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 22px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: rgb(125, 171, 224);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.headerText {
  margin-top: 20%;
  font-size: 30px;
}

.headerText h1 {
  font-size: 60px;
  margin-top: 20px;
}

.headerText h1 span {
  color: rgb(125, 171, 224);
}

/* Tentang saya */
.tentang {
  padding: 80px 0;
}

.tentang #container {
  background-color: #191919;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tentang-col-1 {
  flex-basis: 35%;
}

.tentang-col-1 img {
  width: 80%;
  border-radius: 15px;
}
.tentang-col-2 {
  flex-basis: 60%;
}

.tentang-col-2 h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.tentang-col-2 table {
  margin-bottom: 40px;
  line-height: 30px;
}

.tentang-col-2 p {
  color: #a5c9ca;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.video {
  background: #101010;
  width: 100%;
  padding: 40px 0px;
}

video {
  width: 40%;
}

.video h2 {
  color: white;
  font-size: 40px;
  width: 1130px;
  margin: 10px auto 40px auto;
  text-align: center;
}

figure {
  padding: 20px 35px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

figcaption {
  font-size: 18px;
  margin-top: 90px;
}

.education {
  padding: 20px 35px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
}

.education h2,
.kerja h2 {
  color: white;
  font-size: 40px;
  width: 1130px;
  margin: 10px auto 40px auto;
  text-align: center;
}

.kerja {
  background: #101010;
  padding: 20px 35px;
  margin: 0px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.kerja table {
  margin-left: auto;
  margin-right: auto;
}

.kerja table,
.kerja td,
.kerja tr {
  padding: 26px;
  font-size: 20px;
}

.contactLeft {
  flex-basis: 35%;
}

.contactRight {
  flex-basis: 60%;
}

.contactLeft p {
  margin-top: 25px;
}

.contactRight form {
  width: 100%;
}

.social-media {
  margin-top: 30px;
}

.social-media a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  margin-right: 15px;
  color: rgb(167, 213, 250);
}

.social-media a:hover {
  color: white;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  padding: 15px;
  margin: 15px;
  background-color: #191919;
  border-radius: 26px;
  color: white;
}

.btn {
  display: inline-block;
  background-color: #04aa6d;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 6px 18px;
  margin-left: 30px;

  cursor: pointer;
}

.btn:hover {
  transition-duration: 0.5s;
  background-color: rgb(125, 171, 224);
  color: white;
}

footer {
  width: 100%;
  text-align: center;
  background-color: rgb(125, 171, 224);
  font-weight: 250;
  margin-top: 20px;
  padding: 25px 0;
}
